@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #030712;
  color: #f9fafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(251, 191, 36, 0.3);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(251, 191, 36, 0.4);
}
::-webkit-scrollbar-track {
  background: transparent;
}
